<p>Yahoo Finance Scraper</p>
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<p>About Scraper</p>
<p> This is a scraper which pulls data from Yahoo Finance and pulls data into in the database. You can request recent scrape , request new stocks
    or you can view stocks that are already in the data base. 

    </p>

